{{extend 'template.html'}}
{{import json}}

<script type="text/javascript">
$(document).ready( function() {
	dm = new DataManager({
		http_host : "{{response.write(http_host,escape=False)}}",
		visualization : {{response.write(json.dumps(visualization,encoding='utf-8'),escape=False)}},
		visualizations : {{response.write(json.dumps(visualizations,encoding='utf-8'),escape=False)}},
	});
	dm.once( "loaded", function() {
		var url = dm.getVisualizationURL();
		matrixState = new MatrixState({ "url" : url });
		matrixModel = new MatrixModel({ "state" : matrixState });
		matrixView = new MatrixView({ "model" : matrixModel });
		matrixState.load();
	});
});
</script>

<div class="body">
	<div class="content TermTopicMatrixView"></div>
	<div class="content">
		<p><a href="http://jason.chuang.ca" target="_blank">Jason Chuang</a>, 
			<a href="http://vis.stanford.edu" target="_blank">Vis</a> &amp; 
			<a href="http://nlp.stanford.edu" target="_blank">NLP</a>, 
			<a href="http://cs.stanford.edu" target="_blank">Stanford University</a>, 2013
		</p>
	</div>
	<div id="DragImage">&nbsp;</div>
</div>
