body {
	border: 0;
	padding: 0;
	margin: 0;
	font-family: Georgia, serif;
	font-size: 10pt;
}

div {
	border: 0;
	padding: 0;
	margin: 0;
}

div.head {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 15px;
	border-bottom: 1px solid #aaa;
	box-shadow: 0 0 30px #ccc;
	color: #333;
	background: #ccc;
}
div.head div {
	position: static;
	display: inline-block;
}
div.head div.title {
	margin: 0 2em 0 0.5em;
	font-size: 12pt;
	color: #000;
	font-weight: bold;
}
div.head div.sep {
	margin: 0 0.5em;
	font-size: 9pt;
}
div.head div.subtitle {
	font-size: 12pt;
}
div.head a {
	color: #333;
	text-decoration: none;
}
div.head a:hover {
	color: #933;
	text-decoration: underline;
}

div.body {
	margin: 100px 50px 100px 50px;
	line-height: 1.35em;
	color: #333;
}
div.body div.heading {
	margin: 2em 0 0 0;
	font-size: 14pt;
	color: #000;
}
div.body div.content {
	margin: 1em 0 0 0;
	width: 400px;
	font-size: 10pt;
}
div.body div.Blocks {
	width: 1050px;
}
div.body div.Blocks div.Block {
	display: inline-block; 
	height: 200px;
	width: 200px;
	color: #666;
	cursor: pointer;
	border: 1px solid #666;
	margin: 0 8px 8px 0;
}

div.body a {
	color: #c66;
	text-decoration: none;
}
div.body a:hover {
	color: #933;
	text-decoration: underline;
}
